<footer>
<p>Projekt stworzony w ramach rekrutacji w firmie Oxido | Autor: Michał Suchoń</p>
<p class="uk-text-muted">W projekcie wykorzystano framework UIkit oraz API OpenAI</p>
</footer>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/js/effects.js"></script>
    
</body>
</html>