<header>
    <a href="https://github.com/michciaa/michciaa.github.io" target="_blank"><button type="submit" value="1" class="uk-button uk-button-primary" style="display:flex; justify-content: right; margin: 1em 0 1em auto !important">Zobacz projekt na&nbsp;<span uk-icon="github"></span></button></a> 
    <a href="/"><h1 class="uk-text-bolder color-white title">OpenAI API Text-Article Converter</h1></a>
    <h3 class="color-white">by Michał Suchoń (@michciaa)</h3>
</header>