<%- include('./includes/head') %>
    <div id="showInfo"></div>

    <%- include('./includes/header-nav') %>

<main>
    <div class="main-card">
        <h2>Error 404</h2>
        <h4 class="uk-text-center">Żądana strona nie istnieje!</h4>
        <a href="/"><button value="1" class="uk-button uk-button-secondary">Powrót</button></a>
        </div>
    </div>

</main>
<%- include('./includes/footer') %>


    
