<%- include('./includes/head') %>
    <div id="showInfo"></div>

<%- include('./includes/header-nav') %>
<main>
    <div class="main-card">
        <h2>Error 500</h2>
        <h4 class="uk-text-center">Wystąpił nieoczekiwany błąd. Skontaktuj się z właścicielem aplikacji, aby ustalić przyczynę</h4>
        <br>
        <a href="/"><button value="1" class="uk-button uk-button-secondary">Powrót</button></a>
        </div>
    </div>

</main>
<%- include('./includes/footer') %>


    
