<%- include('./includes/head') %>
    <div id="showInfo"></div>
<header>
    <h1 class="uk-text-bolder color-white title">OpenAI API Text-Article Converter</h1>
    <h3 class="color-white">by Michał Suchoń</h3>
</header>

<main>
    <div class="main-card">
        <h2>Error 500</h2>
        <h4 class="uk-text-center">Wystąpił nieoczekiwany błąd. Skontaktuj się z właścicielem aplikacji, aby ustalić przyczynę</h4>
        <br>
        <a href="/"><button value="1" class="uk-button uk-button-secondaru">Powrót</button></a>
        </div>
    </div>

</main>
<%- include('./includes/footer') %>


    
