<%- include('./includes/head') %>
    <div id="showInfo"></div>
<header>
    <h1 class="uk-text-bolder color-white title">OpenAI API Text-Article Converter</h1>
    <h3 class="color-white">by Michał Suchoń</h3>
</header>

<main>
    <div class="main-card">
    <%- content %>
    </div>
</main>
<%- include('./includes/footer') %>


    
